/* Colors */
$colorBlack                             : #000;
$colorLight                             : #FFF;
$colorMedium                            : #D9D9D9;
$colorDarkOpacity                       : #00000060;
$colorAccent                            : #5EB0CE;
$colorBackground                        : #EDEDED;

$colorTextDark                          : $colorBlack;
$colorBackgroundOpacity                 : $colorDarkOpacity;
$colorTextLight                         : $colorLight;
$colorTextAccent                        : $colorAccent;
$colorBtnAccent                         : $colorAccent;
$colorBtnLight                          : $colorLight;
$colorBackgroundLight                   : $colorLight;
$colorBackgroundMedium                  : $colorMedium;
$colorBackgroundMain                    : $colorBackground;
$colorBackgroundAccent                  : $colorAccent;

/* Sizes */
$size3XS                                : 240;
$size2XS                                : 360;
$sizeXS                                 : 420;
$sizeS                                  : 480;
$sizeM                                  : 560;
$sizeL                                  : 680;
$sizeX                                  : 760;
$sizeXL                                 : 860;
$size2XL                                : 960;
$size3XL                                : 1080;
$size4XL                                : 1280;
$size5XL                                : 1480;
$size6XL                                : 1660;
$size7XL                                : 1920;
