<footer>
    <div class="footer container">
        <div>
            <a href="/" class="logo">
                <img src="/assets/resources/img/logo-white.svg">
            </a>
            <div class="footer-address">Адрес: Казахстан</div>
            <div class="footer-social">
                <img src="/assets/resources/img/icon/icon-whatsapp.svg">
                <img src="/assets/resources/img/icon/icon-tg.svg">
                <img src="/assets/resources/img/icon/icon-viber.svg">
            </div>
        </div>
        <div class="contacts-offer footer-contacts-offer">
            <div class="contacts">
                <a href="tel:+77051415286">+7 705 141 5286</a>
                <a href="mailto:mail@kaspimash.kz">mail@kaspimash.kz</a>
            </div>
            <div class="btn btn-light">Заказать услугу</div>
        </div>
    </div>
</footer>