<header>
    <div class="header container">
        <a href="/" class="logo logo-header">
            <img src="/assets/resources/img/logo.svg">
        </a>
        <div class="header-links">
            <a href="/engineering">Проектирование</a>
            <a href="/production">Производство</a>
        </div>
        <div class="contacts-offer header-contacts-offer">
            <div class="contacts">
                <a href="tel:+79000000000">8 (900) 000 00 00</a>
                <a href="mailto:kz@kz.ru">kz@kz.ru</a>
            </div>
            <div class="btn btn-accent">Заказать услугу</div>
        </div>
    </div>
</header>