<header>
    <div class="header container">
        <a href="/" class="logo logo-header">
            <img src="/assets/resources/img/logo.svg">
        </a>
        <div class="header-links">
            <a href="/engineering">Проектирование</a>
            <a href="/production">Производство</a>
            <a href="/installation">Монтаж</a>
        </div>
        <div class="contacts-offer header-contacts-offer">
            <div class="contacts">
                <a href="tel:+77051415286">+7 705 141 5286</a>
                <a href="mailto:mail@kaspimash.kz">mail@kaspimash.kz</a>
            </div>
            <div class="btn btn-accent">Заказать услугу</div>
        </div>
    </div>
</header>